In [16]:
import pandas as pd
import numpy as np
from fbprophet import Prophet
import warnings

In [17]:
df = pd.read_excel("Data/Attrition_Forecasting.xlsx")

In [18]:
df = df.rename(columns={"Date":"ds","y":"y"})

In [19]:
df.head()

          ds   y
0 2017-09-01  23
1 2017-10-01  13
2 2017-11-01  12
3 2017-12-01  10
4 2018-01-01  18

In [20]:
test = df[-2:]
df = df[:-2]

In [21]:
df["ds"] = pd.to_datetime(df["ds"],format = "%Y-%m-%d")
df = df.sort_values(by = "ds") 
df.reset_index(inplace = True,drop = True)

In [22]:
model = Prophet(growth='linear',seasonality_mode = 'additive')

In [23]:
model.fit(df)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 24.

# Test Model

In [24]:
df_test_promo = pd.DataFrame(test['ds'])

In [25]:
# import datetime
# d = datetime.datetime(2020, 7, 1)
# print(d)

In [26]:
#df_test_promo.loc[len(df_test_promo)] = [d]

In [27]:
df_test_promo

           ds
32 2020-05-01
33 2020-06-01

In [28]:
forecast_promo=model.predict(df_test_promo)

In [29]:
forecast_promo

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2020-05-01,11.818858,1.423020,7.264038,11.818857,11.818858,-7.459256,-7.459256,-7.459256,-7.459256,-7.459256,-7.459256,0.0,0.0,0.0,4.359601
1,2020-06-01,11.863538,18.086938,24.190032,11.863537,11.863538,9.283520,9.283520,9.283520,9.283520,9.283520,9.283520,0.0,0.0,0.0,21.147057

In [31]:
test

           ds   y
32 2020-05-01  10
33 2020-06-01   2